<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | Śledź swój budżet</title>
</head>
<body>
  <div id="login">
    {% block login %}

    {% endblock %}
  </div>

  <div id="logout">
    {% block logout %}

    {% endblock %}
  </div>

  <div id="content1">
    {% block content1 %}

    {% endblock %}
  </div>

  <div id="content2">
    {% block content2 %}

    {% endblock %}
  </div>

  <div id="content3">
    {% block content3 %}

    {% endblock %}
  </div>
</body>
</html>