{% extends "base.html" %}
{% block title %}Logowanie użytkownika{% endblock %}
{% block content1 %}
<a href="/">Strona główna</a>
<form method="POST" action="">
    {% csrf_token %}
    <p>
        <label>Login: </label>
        <input type="text" name="username" value={{username}}>
        {% for element in log_empty %}
            {% if element == 'username' %}
                {{ log_empty_field }}
            {% endif %}
        {% endfor %}

    </p>
    <p>
        <label>Hasło: </label>
        <input type="password" name="password">
        {% for element in log_empty %}
            {% if element == 'password' %}
                {{ log_empty_field }}
            {% endif %}
        {% endfor %}
        {{ wrong_pass }}
    </p>
    <p>
        <input type="submit" name="log_user" value="Zaloguj">{{ user_not_exists }}
    </p>
</form>
{% endblock %}