{% extends "base.html" %}

{% block title %}
    Strona główna
{% endblock %}


{% block content1 %}
        {% if request.user.is_authenticated == True %}
            <button type="button" class="button1" onclick="window.location.href='/archive';">Archiwum</button>
            <button type="button" class="button2" onclick="window.location.href='/userdata';">Konto</button>
            <button type="button" class="button3" onclick="window.location.href='/logout';">Wyloguj</button>
        {% else %}
            <button type="button" class="button1" onclick="window.location.href='/login';">Zaloguj się</button>
            <button type="button" class="button3" onclick="window.location.href='/register';">Zarejestruj się</button>
        {% endif %}
    <p>
        {{ user_success }}
    </p>
{% endblock %}

{% block content2 %}
    {% if request.user.is_authenticated == True %}
        <table>
            <thead>
                <tr>
                    <th colspan="6">Płatności w Styczniu:</th>
                </tr>
                <tr>
                    <th width="25%">Nazwa</th>
                    <th width="9%">Koszt</th>
                    <th width="13%">Kategoria</th>
                    <th width="7%">Termin płatności</th>
                    <th width="10%">Status</th>
                    <th width="36">Uwagi</th>
                </tr>
            </thead>
            <tbody>
                {% for expense_cont in expenses_cont %}
                    <tr>
                        <td>{{ expense_cont.name }}</td>
                        <td>{{ expense_cont.value }}</td>
                        <td>{{ expense_cont.category }}</td>
                        {% if expense_cont.deadline != None %}
                            <td>{{ expense_cont.deadline|date:"%d-%m" }}</td>
                        {% elif expense_cont.deadline == None %}
                            <td>-</td>
                        {% endif %}
                        {% if expense_cont.is_paid == False %}
                            <td>Nieopłacone</td>
                        {% elif expense_cont.is_paid == True %}
                            <td>Opłacone</td>
                        {% endif %}
                        <td>-</td>
                    </tr>
                {% endfor %}
                {% for expense_uncont in expenses_uncont %}
                    <tr>
                        <td><a href="/details/{{expense_uncont.id}}">{{ expense_uncont.name }}</a></td>
                        <td>{{ expense_uncont.value }}</td>
                        <td>{{ expense_uncont.category.name }}</td>
                        {% if expense_uncont.deadline != None %}
                            <td>{{ expense_uncont.deadline|date:"d-m" }}</td>
                        {% elif expense_uncont.deadline == None %}
                            <td>-</td>
                        {% endif %}
                        {% if expense_uncont.is_paid == False %}
                            <td>Nieopłacone</td>
                        {% elif expense_uncont.is_paid == True %}
                            <td>Opłacone</td>
                        {% endif %}
                        <td>-</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block content3 %}
    {% if request.user.is_authenticated == True %}
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset style="height: 420px;">
                <legend><b>Dodaj nową kategorię</b></legend>
                    <p>
                        <label><b>Nazwa*: </b></label>
                        <input type="text" name="cat_name" value={{cat_name}}>
                        {% for element in cat_empty %}
                            {% if element == 'category_name' %}
                                {{ cat_empty_field }}
                            {% endif %}
                        {% endfor %}
                        {{ cat_exists }}
                    </p>
                    <p>
                        <label><b>Opis*: </b></label>
                        <input type="text" name="cat_description" size=20 value={{cat_description}}>
                        {% for element in cat_empty %}
                            {% if element == 'category_description' %}
                                {{ cat_empty_field }}
                            {% endif %}
                        {% endfor %}
                    </p>

                    <p>
                        <input type="submit" name="new_category" value="Dodaj kategorię" class="button4">
                    </p>
                    <p><font size="2">Pola oznaczone gwiazką (*) są wymagane do uzupełnienia.</font></p>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}

{% block content4 %}
    {% if request.user.is_authenticated == True %}
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset style="height: 420px;">
                <legend><b>Dodaj nową płatność</b></legend>
                <p>
                    <label><b>Nazwa*: </b></label>
                    <input type="text" name="exp_name">
                </p>
                <p>
                    <label><b>Kwota*: </b></label>
                    <input type="number" name="exp_value" size=6>
                </p>
                <p>
                    <label><b>Termin płatności: </b></label>
                    <input type="date" name="exp_deadline">
                </p>
                <div>
                    <p>
                        <label><b>Ciągłość: </b></label>
                        <label>
                            <input type="radio" name="continuity" value="yes" id="continuity1">Tak
                        </label>
                        <label>
                            <input type="radio" name="continuity" value="no" id="continuity2" checked>Nie
                        </label>
                    </p>
                </div>
                <div id="continuity_attributes">
                    <p>
                        <label><b>Częstotliwość płatności: </b></label>
                        <label>Dni: </label>
                        <input type="number" name="days_amount" value="" size=2>
                        <label>Tygodnie: </label>
                        <input type="number" name="weeks_amount" value="" size=2>
                        <label>Miesiące: </label>
                        <input type="number" name=months_amount" value="" size=2>
                        <label>Konkretny dzień miesiąca: </label>
                        <input type="number" name="month_day" value="" size=2 min=0 max=31>
                    </p>
                    <p>
                        <label><b>Ilość płatności: </b></label>
                        <label>
                            <input type="radio" name="continuity_amount" value="continuity_amount_period">
                            Cyklicznie
                        </label>
                        <label>
                            <input type="radio" name="continuity_amount" value="continuity_amount_number" checked>
                            <input type="number" name="continuity_number" size="3">
                        </label>
                    </p>
                </div>
                <p>
                    <label><b>Status płatności: </b></label>
                    <label><input type="radio" name="is_paid" value="yes">Opłacone</label>
                    <label><input type="radio" name="is_paid" value="no" checked>Nieopłacone</label>
                </p>
                <p>
                    <label><b>Wybierz kategorię*: </b></label>
                    <select name="category" class="category">
                        {% for category in categories %}
                            <option value={{category.name}}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <input type="submit" name="new_expense" value="Dodaj płatność" class="button4">
                </p>
                <p><font size=2>Pola oznaczone gwiazką (*) są wymagane do uzupełnienia.</font></p>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}

{% block script %}
  let formContinuity = document.getElementById('continuity_attributes')
  let check1 = document.getElementById('continuity1')
  let check2 = document.getElementById('continuity2')
  formContinuity.style.display = 'none'
  console.log(check1)
  console.log(check2)
  console.log(formContinuity)

  check1.addEventListener('click', function(event){
      if (check1.checked == true) {
      formContinuity.style.display = 'block'
      } else {
      formContinuity.style.display = 'none'}
  })
  check2.addEventListener('click', function(event){
      if (check2.checked == true) {
      formContinuity.style.display = 'none'
      } else {
      formContinuity.style.display = 'block'}
  })
{% endblock %}
