{% extends "base.html" %}

{% block title %}
    Strona główna
{% endblock %}

{% block style %}
    .head {
        border: 4px black;
        font-weight: bold;
    }
    .body {
        border: 2px black;
    }
{% endblock %}

{% block content1 %}
    <p>
        {% if not request.user.is_authenticated %}
            <a href="/login">Zaloguj się</a>
            <a href="/register">Zarejestruj się</a>
        {% else %}
            <a href="/archive">Archiwum</a>
            <a href="/userdata">Konto</a>
            <a href="/logout">Wyloguj</a>
        {% endif %}
    </p>
    <p>
        {{ welcome_text }}
        {{ user_success }}
        {{ logout_user }}
    </p>
{% endblock %}

{% block content2 %}
    {% if request.user.is_authenticated %}
        <table>
            <thead class="head">
                <tr>
                    <th colspan="6">Wydatki w Styczniu:</th>
                </tr>
                <tr>
                    <th>Nazwa</th>
                    <th>Koszt</th>
                    <th>Kategoria</th>
                    <th>Termin płatności</th>
                    <th>Status</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody class="body">
                {% for expense_cont in expenses_cont %}
                    <tr>
                        <td>{{ expense_cont.name }}</td>
                        <td>{{ expense_cont.value }}</td>
                        <td>{{ expense_cont.category }}</td>
                        {% if expense_cont.deadline != None %}
                            <td>{{ expense_cont.deadline|date:"d-m" }}</td>
                        {% elif expense_cont.deadline == None %}
                            <td>-</td>
                        {% endif %}
                        {% if expense_cont.is_paid == False %}
                            <td>Nieopłacone</td>
                        {% elif expense_cont.is_paid == True %}
                            <td>Opłacone</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% for expense_uncont in expenses_uncont %}
                    <tr>
                        <td>{{ expense_uncont.name }}</td>
                        <td>{{ expense_uncont.value }}</td>
                        <td>{{ expense_uncont.category.name }}</td>
                        {% if expense_uncont.deadline != None %}
                            <td>{{ expense_uncont.deadline|date:"d-m" }}</td>
                        {% elif expense_uncont.deadline == None %}
                            <td>-</td>
                        {% endif %}
                        {% if expense_uncont.is_paid == False %}
                            <td>Nieopłacone</td>
                        {% elif expense_uncont.is_paid == True %}
                            <td>Opłacone</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block content3 %}
    {% if auth == 1 %}
        <p><b>Dodaj nową płatność: </b></p>
        <form method="POST" action="">
            {% csrf_token %}
            <p>
                <label>Nazwa*: </label>
                <input type="text" name="exp_name">
            </p>
            <p>
                <label>Kwota*: </label>
                <input type="number" name="exp_value" size=6>
            </p>
            <p>
                <label>Termin płatności: </label>
                <input type="date" name="exp_deadline">
            </p>
            <div id="continuity">
                <p>
                    <label>Ciągłość: </label>
                    <label>
                        <input type="radio" name="continuity" value="yes">Tak
                    </label>
                    <label>
                        <input type="radio" name="continuity" value="no" checked>Nie
                    </label>
                </p>
            </div>
            <div id="continuity_attributes">
                <p>
                    <label>Częstotliwość płatności: </label>
                    <label>Dni: </label>
                    <input type="number" name="days_amount" value="" size=2>
                    <label>Tygodnie: </label>
                    <input type="number" name="weeks_amount" value="" size=2>
                    <label>Miesiące: </label>
                    <input type="number" name=months_amount" value="" size=2>
                    <label>Konkretny dzień miesiąca: </label>
                    <input type="number" name="month_day" value="" size=2 min=0 max=31>
                </p>
                <p>
                    <label>Ilość płatności: </label>
                    <label>
                        <input type="radio" name="continuity_amount" value="continuity_amount_period">
                        Cyklicznie
                    </label>
                    <label>
                        <input type="radio" name="continuity_amount" value="continuity_amount_number" checked>
                        <input type="number" name="continuity_number" size="3">
                    </label>
                </p>
            </div>
            <p>
                <label>Status płatności: </label>
                <label><input type="radio" name="is_paid" value="yes">Opłacone</label>
                <label><input type="radio" name="is_paid" value="no" checked>Nieopłacone</label>
            </p>
            <p>
                <label>Wybierz kategorię: </label>
                <select name="category">
                    {% for category in categories %}
                        <option value={{category.name}}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <input type="submit" name="new_expense" value="Dodaj płatność">
            </p>
            <p>Pola oznaczone gwiazką (*) są wymagane do uzupełnienia.</p>
        </form>
    {% endif %}
{% endblock %}

{% block content4 %}
    {% if auth == 1 %}
        <p><b>Dodaj nową kategorię:</b></p>
        <form method="POST" action="">
            {% csrf_token %}
            <p>
                <label>Nazwa*: </label>
                <input type="text" name="cat_name">
            </p>
            <p>
                <label>Opis*: </label>
                <input type="text" name="cat_description" size=20>
            </p>
            <p>
                <input type="submit" name="new_category" value="Dodaj kategorię"
            </p>
            <p>Pola oznaczone gwiazką (*) są wymagane do uzupełnienia.</p>
        </form>
    {% endif %}
{% endblock %}