{% extends "base.html" %}
{% block title %}Rejestracja nowego użytkownika{% endblock %}
{% block content1 %}
<a href="/main">Strona główna</a>
<form method="post" action="">
    {% csrf_token %}
    <p><label>Imię: </label>
        <input type="text" name="first_name" value={{first_name}}>
        {% for element in error_list %}
            {% if element == 'first_name' %}
                {{ empty_field }}
            {% endif %}
        {% endfor %}
    </p>

    <p><label>Nazwisko: </label>
        <input type="text" name="last_name" value={{last_name}}>
        {% for element in error_list %}
            {% if element == 'last_name' %}
                {{ empty_field }}
            {% endif %}
        {% endfor %}
    </p>

    <p><label>E-mail: </label>
        <input type="email" name="email" value={{email}}>
        {% for element in error_list %}
            {% if element == 'email' %}
                {{ empty_field }}
            {% endif %}
        {% endfor %}
    </p>

    <p><label>Login: </label>
        <input type="text" name="login" value={{login}}>
        {% for element in error_list %}
            {% if element == 'login' %}
                {{ empty_field }}
            {% endif %}
        {% endfor %}
        {{ user_exists }}
    </p>

    <p><label>Hasło: </label>
        <input type="password" name="password1">
        {% for element in error_list %}
            {% if element == 'password1' %}
                {{ empty_field }}
            {% endif %}
        {% endfor %}
    </p>

    <p><label>Powtórz hasło: </label>
        <input type="password" name="password2">
        {% for element in error_list %}
            {% if element == 'password2' %}
                {{ empty_field }}
            {% endif %}
        {% endfor %}
        {{ diff_pass }}
    </p>

    <p><input type="submit" value="Utwórz użytkownika"></p>
</form>
{% endblock %}